// Error message
.input-field .error {
    color: #ee6e73;
    font-size: 12px;
    margin-top: -15px;
}

.event-options .collection-item input{
    width: calc(100% - 30px);
}

.text-shadow {
    text-shadow: 1px 1px #333;
}
